@charset "utf-8";
input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    outline: none;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    box-sizing: border-box;
    &:checked {
        outline: none;
        background-image: url('');
        background-repeat: no-repeat; //background-position: center;
        background-color: #3b98fc;
        border-color: #0c73e3;
    }
    &:hover {
        background-image: url('');
        background-repeat: no-repeat;
        background-color: #3b98fc;
        border-color: #3595fb;
    }
    &:disabled {
        background-color: #f0f0f0;
        border: solid 2px #b9b9b9;
        background: none;
    }
}