@charset "utf-8";
.z-radio {
    $width: 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    outline: none;
    top: 2px;
    width: $width;
    height: $width;
    border: solid 1px #aaaaaa;
    border-radius: $width;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(94, 96, 102, 0.47);
    &:checked {
        outline: none;
        background-color: #3b98fc;
        background-image: url('');
        background-repeat: no-repeat;
        background-position: center;
        border-color: #0c73e3;
    }
    &:hover {
        background-repeat: no-repeat;
        background-position: center;
        background-color: #3b98fc;
        border-color: #3595fb;
    }
    &:disabled {
        background-color: #f0f0f0;
        border: solid 2px #b9b9b9;
        background: none;
    }
    &.gray {
        background-color: #f0f0f0;
    }
}