<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中间自适应布局(position)</title>
    <style>
        .wrap{
            position: relative;
        }
        .left,.center,.right{
            height: 100px;
            border: 1px solid black;
            box-sizing: border-box;
            position: absolute;
        }
        .left{
            width: 100px;
        }
        .right{
            width: 200px;
            right: 0;
        }
        .center{
            left: 100px;
            right: 200px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="left">left</div>
        <div class="center">
            <div style="background: red;height: 100%;">
                center
            </div>
        </div>
        <div class="right">right</div>
    </div>
</body>
</html>